@font-face {
    font-family: 'Monoton';
    src: url("/public/media/fonts/Monoton-Regular.ttf");
}
@font-face {
    font-family: 'Anton';
    src: url("/public/media/fonts/Anton-Regular.ttf");
}
@font-face {
    font-family: 'Maven Pro';
    src: url("/public/media/fonts/MavenPro-Regular.ttf");
}
:root{
    --primary: rgb(53, 155, 199);
    --secondary: #257b8b;
    --accent: #d0f8ff;
    --blackCustom: #000000;
    --whiteCustom: rgb(250, 250, 250);
}
*{
    margin:0;
}

.bg-prim{
    background-color: var(--primary);
}
.color-prim{
    color: var(--primary);
}

.bg-second{
    background-color: var(--secondary);
}

.color-second{
    color: var(--secondary);
}

.bg-accent{
    background-color: var(--accent);
    
}

.maven-font{
    font-family: 'Maven Pro';
}

.anton-font{
    font-family: 'Anton';
}
.monoton-font{
    font-family: 'Monoton';
}

.title-section{
    
    
    height: 50vh;
}

.title{
    
    font-size: 60px;
    text-shadow: 10px 10px 200px rgb(65, 23, 23);
    /* animation: scorri 3s 2ms infinite; */
}
.bgNavbar{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter:blur(10px);
    border-radius: 15rem;
    /* border: 1px solid var(--primary); */
    box-shadow: 8px 3px 25px #696666;
    
    
}
.badgeSearch{
    border-radius: 15rem;
}
.btnCustom{
    border-radius: 0 15px 15px 0;
    border: none;
}
.btnCustom:hover{
    color: var(--primary);
}
.searchCustom{
    border-radius: 15px 0 0 15px;   
}
.searchCustom:focus{
    
    box-shadow: none;
}
.bgHeader{
    background-image: url("/public/media/bgHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.headerConfig{
    
    
    font-weight: 100;
    color: white;
    
      
}
/* @keyframes scorri {
    0% {
        transform: translateY(0px);
        box-shadow: 20px 20px 26px red;
    }
    25% {
        transform: translateY(50px);
        
    }
    50% {
        transform: translateY(75px);
        
    }
    75% {
        transform: translateY(50px);
        
    }
    100% {
        transform: translateY(0px);
        box-shadow: 20px 20px 26px red;
    } */
    
    
    
    
    
    
/* } */
.filtroCategorie{
    display: none;
}
.welcomeMain{
    height: 40vh;
    /* object-fit: cover; */
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .navCustom{

    background-image: radial-gradient(rgba(245, 234, 234, 0), rgb(243, 227, 227)), url(/public/media/imgTitolo.jpg);
    background-position: center;
    background-size: cover;
   width: 100%;
    
    
    
} */
/* .navbar{
    display: flex;
    flex-direction: column;
} */
.articleIndexCard{
   
    transition: .2s;
    height: 480px;
}
.articleIndexCard:hover{
    /* width: 300px;
	height: 100px; */
	background-color: #FFFFFF;
	position: relative;
	box-shadow: 0px 0px 5px 10px var(--primary) !important;
    scale:1.02;
    
}

.btnCustomPage{
    border-radius: 0 15px 15px 0;
    border:3px solid var(--primary);
    transition: .3s;
    
}
.btnCustomPage:hover{
    color: var(--primary);
    border:3px solid var(--primary);
}
.btnCustomPage:active{
    transform: translateY(3px);
}


/* .card:hover{
    
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.351);
} */
.drop{
    display:none;
}
.drop2{
    display: flex;
}
@media screen and (max-width: 767px){
    .bgNavbar{
        border-radius: 0px; 
    }
    .drop{
        display: flex;
        justify-content: center;
    }
    .drop2{
        display: none;
    }
}
@media screen and (max-width:767px){
    .welcomeMain{
        height: 100vh;
        /* object-fit: cover; */
        
    }
}
.card-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 20px;
}

.bandierine{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter:blur(10px);
}
/* .size{
    width: 200px;
    height: 200px!important;
} */






.gallery{
	max-width: 900px;
	margin: 30px auto;
}
.gallery img{
	width:  100%;
	display: block;
}
.gallery .large{
	position: relative;
}
.gallery .large .caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 28px;
	padding: 15px 0;
}
.gallery .large .caption span{
	color: #d4d4d4;
	display: block;
	text-align: center;
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	top: 80%;
	padding: 20px 0;
	font-weight: bold;
	letter-spacing: .5px;
}
.gallery .thumb{
	width:  50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin-top: 10px;
}
.gallery .thumb img{
	cursor: pointer;
	border:  2px solid transparent;
}
.gallery .thumb img:hover{
	border:  2px solid #57f38e;
}
.gallery .thumb img.selected{
	border:  2px solid #57f38e;
}


.tornaSu{
    background-color: transparent;
    border-bottom: none;
    
    align-items:center ;

    margin-bottom: 0px !important;
    font-size: 20px !important ;
}

.bg-footer{
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);

}
.scale-c{
    scale: 1.5;
}
.margine{
    margin-top: 100px;
    margin-bottom: 100px;

}
