:root{
    --primary: #FFFD00;
    --secondary: #FF8900;
    --accent: #F8F2CB;
    --blackCustom: #000000;
    --whiteCustom: #FFFFFF;
}
*{
    margin:0;
}

.bg-prim{
    background-color: var(--primary);
}

.bg-second{
    background-color: var(--secondary);
}

.bg-accent{
    /* background-color: var(--accent); */
    background-image: linear-gradient(to right top, #fffd00, #ffe000, #ffc300, #ffa600, #ff8900);
}

.text-font{
    font-family: 'Maven Pro', sans-serif;
}

.title-font{
    font-family: 'Anton', sans-serif;
}

.title-section{
    
    
    height: 50vh;
}

.title{
    font-family: 'Monoton', cursive;
    font-size: 60px;
    text-shadow: 10px 10px 200px rgb(65, 23, 23);
    /* animation: scorri 3s 2ms infinite; */
}
/* @keyframes scorri {
    0% {
        transform: translateY(0px);
        box-shadow: 20px 20px 26px red;
    }
    25% {
        transform: translateY(50px);
        
    }
    50% {
        transform: translateY(75px);
        
    }
    75% {
        transform: translateY(50px);
        
    }
    100% {
        transform: translateY(0px);
        box-shadow: 20px 20px 26px red;
    } */
    
    
    
    
    
    
/* } */
.prova{
    display: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navCustom{

    background-image: radial-gradient(rgba(245, 234, 234, 0), rgb(243, 227, 227)), url(/public/media/imgTitolo.jpg);
    background-position: center;
    background-size: cover;
   width: 100%;
    
    
    
}
.navbar{
    display: flex;
    flex-direction: column;
}
.card:hover{
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.351);
}

