:root{
    --primary: #FFFD00;
    --secondary: #FF8900;
    --accent: #F8F2CB;
    --blackCustom: #000000;
    --whiteCustom: #FFFFFF;
}
*{
    margin:0;
}

.bg-prim{
    background-color: var(--primary);
}

.bg-second{
    background-color: var(--secondary);
}

.bg-accent{
    /* background-color: var(--accent); */
    background-image: linear-gradient(to right top, #fffd00, #ffe000, #ffc300, #ffa600, #ff8900);
}

.text-font{
    font-family: 'Maven Pro', sans-serif;
}

.title-font{
    font-family: 'Anton', sans-serif;
}

.title-section{
    
    
    height: 50vh;
}

.title{
    font-family: 'Monoton', cursive;
    font-size: 60px;
}
.prova{
    display: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* body{
    background-image: url(/public/media/imgSfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.navCustom{

    background-image: url(/public/media/imgTitolo.jpg);
    background-position: center;
   
}